.navbar{
    background-color:#3c1a53f6;
    color:#e9c46a;
    padding-left: 45px;
    justify-content: space-between;
    font-weight: bold;    
    font-size: 2rem;
}
.heading{
    padding-left: 45px;
}
.logo{
    width:200px;
    height:200px;
    padding: 10px;
    border-radius: 100px;
}
.list{
    background-color:#3c1a53f6;
    padding: 2px;
}
h2{
    color:#3c1a53f6;

}
ul{
    list-style-type: none;
    font-size: 1.5em;
}
h2{
    font-weight: bold;
    font-size: 2rem;
    margin: 10px;
    color:#3c1a53f6;
    padding-left: 45px;

}
.list ul{
    font-size: 2em;
    display:flex;
}
.list li a{
    color:#e9c46a;
    display: block;
    padding: 16px;
    text-decoration: none;
}
/*,.other,.service_list*/
.serve
{
    margin-top: 45px;
    margin-bottom: 30px;
}
.image{
    width:470px;
    height:470px;
    border-radius: 10px;
    border:solid 1px;
    margin-top: 50px;

}

.fa-sharp{
    width:1px;
    height: 1px;
    padding: 10px;
    margin:20px;
    color:#e9c46a;
}
.btn_icon
{
    margin:10px;
}
.para{
    color:#3c1a53f6;

}
#contact{
    display:flex;
    padding: 20px;
    margin-right: 40px;
}
.contact_info{
    border:1px solid;
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 80px;
    width:600px;
    margin-top: 40px;

}
.address-1line,
.address-2line{
    padding-left: 60px;
}
p{
    font-size: 1.5em;
    margin:20px;
}
.email{
    line-height: 50px;
    font-size: 25px;
    padding-left: 100px;
    width:700px;
    margin-top: 50px;

}
.frm{
    border: 1px solid;
    padding-left: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.heading_cont
{
    margin-top: 50px;
}
.btn{
    background-color:#3c1a53f6;
    color:#e9c46a;
    width:150px;
    height:50px;
    font-size:1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 35%;
}
.text{
    width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.textarea
{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
/*
@media screen and (max-width: 800px) {
    body {
      font-size: 14px;
    }
    #contact{
        padding-bottom: 20px;
        display:inline;
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
    .navbar{
        font-weight: bold;    
        font-size: 1rem;
    }
    .email{
        font-size: 18px;
        margin-left: 10px;
    }
    .contact_info
    {
        padding-left: 20px;
    }
   
  }*/